*{
  font-family: monospace;
}

.main-content{
  margin: 0;
  background-color: #29b6f6;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.main-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 10px outset rgb(0, 238, 255);
  border-radius: 30px;
  padding: 15vh;
  background-color: white;
  box-shadow: 10px 10px 5px;
}



.main-box > div{
  font-size: 2.5em  ;
  color: black;
  padding:  10px;
}
